@font-face {
	font-family: "FontAwesome";
	src: url("../media/fa-regular-400.ttf") format("truetype");
}

.controls {
	border: none;
	background-color: Transparent;
	font-size: 32pt;
	padding: 0px;
}

/* Position pause button */
#pause { 
	position: absolute;
	z-index: 2;
	left: 600px;
	top: 150px;
}

/* Position play button */
#play {
	position: absolute;
	z-index: 2;
	left: 30px;
	top: 150px;
}