/* Add back original 8px margin */
body{ margin: 8px; }

/* Position enemy and flip it horizontally */
#pause { 
	position: absolute;
	z-index: 2;
	left: 575px;
	top: 25px;
	transform: scaleX(-1); 
}

/* Position fighter */
#play {
	position: absolute;
	z-index: 2;
	left: 25px;
	top: 25px;
}